<div>
  <form [formGroup]="formCustomer" (ngSubmit)="Add()">
    <div>
      <label>Nome</label>
      <input type="text" id="name" formControlName="name">
    </div>
    <div>
      <label>Endereço</label>
      <input type="text" id="type" formControlName="typeId">
    </div>
    <div>
      <label>Bairro</label>
      <input type="text" id="force" formControlName="force">
    </div>
    <div>
      <label>Cidade</label>
      <input type="text" id="defense" formControlName="defense">
    </div>
    <div>
      <label>CEP</label>
      <input type="text" id="defense" formControlName="defense">
    </div>
    <div>
      <label>CNPJ/CPF</label>
      <input type="text" id="name" formControlName="name">
    </div>
    <div>
      <label>Telefone</label>
      <input type="text" id="name" formControlName="name">
    </div>
    <div>
      <label>Email</label>
      <input type="text" id="name" formControlName="name">
    </div>
    <div>
      <label>Tipo de Cliente</label>
      <input type="text" id="name" formControlName="name">
    </div>
    <div>
      <button type="submit">Add</button>
      <button>Cancel</button>
    </div>
  </form>
</div>
