<div>
  <form [formGroup]="formProduct" (ngSubmit)="Add()">
    <div>
      <mat-form-field >
        <label>Nome</label>
        <input type="text" id="name" formControlName="name">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field >
        <label>Peso</label>
        <input type="text" id="weight" formControlName="weight">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field >
        <label>Descrição</label>
        <input type="text" id="description" formControlName="description">
      </mat-form-field>
    </div>
    <div>
      <button type="submit">Add</button>
      <button>Cancel</button>
    </div>
  </form>
</div>

